{% extends "layout.jinja2" %}
{% block head %}
{% endblock %}
{% block content %}
<h1>Presentations</h1>

{% if has_permission(request, 'group:admin') %}
  <a href="{{ request.route_url('add_presentation') }}">Add Presentation</a>
{% endif %}

{% if presentations %}
  <ul>
  {% for presentation in presentations %}
  <a href="{{ request.route_url('presentations') }}/{{ presentation.file_pk }}"><ul>{{ presentation.name.title() }} - <span id="name">{{ presentation.presenter.display_name }}</span>
      <p id="title">{{ presentation.date }}</p>
      <p id="description"> {{ presentation.description }} </p>
  </ul></a>

  {% endfor %}
  </ul>
{% else %}
  No presentations uploaded
{% endif %}
{% endblock %}
